#
#   Module
#
**/*.o
**/*.os

#
#   IDE-Specific
#

# vscode
.vscode
*.code-workspace

# (if you use a different IDE, add what you need)

#
#   Demo Project
#
demo/**.import
demo/.import/

#
#   Scons
#
**/__pycache__

#
#   Other
#

