#
#   Module
#
modules/c11r/__pycache__
modules/c11r/*.o
modules/c11r/*.os
modules/c11r/editor/*.os
**.os
**.o

#
#   IDE-Specific
#

# vscode settings
.vscode
choreographer.code-workspace

#
#   Demo Project
#
demo/**.import
demo/.import/

#
#   Other
#

