(
    meta: (
        name: "project",
        version: "0.1.0",
        authors: [
            "your name here <youremail@provider>",
        ],
        description: "a project",
        source: "https://your.vcs/homepage",
        license: "MIT + Apache 2.0",
    ),
    executable: Some((
        entry: "test",
        start_frame_data: {
            "a": Num(3.0),
            "b": Num(4.0),
        },
    )),
)